.barra{
	/*background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);*/
	background-color: #003B46;
	opacity: 0.8;
}

.titulo{
	text-align: center;
}

.fondo1{
	/*background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);*/
	background-color: #66A5AD;
}

.fondo2{
	background-color: #C4DFE6;
}

.tabla{
	width: 100%;
	align-items: center;

}

.imagen{
	height: 25%;
	width: 35%;
}